<!DOCTYPE html>
<html>
  <head>
    <title>BoardgameApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://s3-eu-west-1.amazonaws.com/orchardtoys/i/pliz/orchard_toys_pop_to_the_shops_game_contents.jpg?_t=18221123147">
    <link rel="stylesheet" href="https://s3-eu-west-1.amazonaws.com/orchardtoys/i/pliz/orchard_toys_pop_to_the_shops_game_contents.jpg?_t=18221123147"> 
    <link rel="stylesheet" href="https://s3-eu-west-1.amazonaws.com/orchardtoys/i/pliz/orchard_toys_pop_to_the_shops_game_contents.jpg?_t=18221123147">  
  </head>

  <body>
    <%= yield %>
  </body>
</html>
